<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hotels in Singapore</title>
  </head>
  <body>
    <h1>Hotels</h1>
    <hr/>
    <div>
      <% for (var i = 0; i < hotels.length; i++) { %>
        <div>
          <h2><%= hotels[i].name %></h2>
          <p><%= hotels[i].address %></p>
          <img src="<%= hotels[i].image %>" alt="<%= hotels[i].name %>"/>
          <% if (hotels[i].hasOwnProperty('bestPrice')) {%>
            <p>Price: <%= hotels[i].bestPrice.price %> (<%= hotels[i].bestPrice.apiName %>)</p>
          <% } else { %>
            <p>all rooms booked</p>
          <% } %>
        </div>
      <% } %>
    </div>
  </body>
</html>
